{{- /* set variables */ -}}
{{- $img := .page.Resources.Get .src -}}
{{- if not $img }}
  {{- warnf "No image resource found at %s%s" .page.RelPermalink .src -}}
{{- end -}}
{{- $src := "" -}}
{{- $srcsetOrig := slice -}}
{{- $srcsetWebp := slice -}}
{{- /* sort widths from low to high */ -}}
{{- $widths := sort .widths -}}
{{- /* generate images at each width */ -}}
{{- range $index, $width := $widths -}}
  {{- if gt $width $img.Width -}}
      {{- warnf "Source image %s is not wide enough to resize to %dpx" $img.RelPermalink $width -}}
    {{- end -}}
  {{- /* resize image */ -}}
  {{- $imgResizedOrig := $img.Resize (printf "%dx" $width) -}}
  {{- $imgResizedWebp := $img.Resize (printf "%dx webp" $width) -}}
  {{- /* add image to srcset array/slice with format "/path/image.jpg 100w" */ -}}
  {{- $srcsetOrig = $srcsetOrig | append (printf "%s %dw" $imgResizedOrig.RelPermalink $width) -}}
  {{- $srcsetWebp = $srcsetWebp | append (printf "%s %dw" $imgResizedWebp.RelPermalink $width) -}}
  {{- /* if largest width (last iteration), add image to src variable for use as fallback */ -}}
  {{- if eq (len $widths) (add $index 1) -}}
    {{ $src = $imgResizedOrig -}}
  {{- end -}}
{{- end -}}
{{- /* convert srcset array/slice into a string, delimit with , between each image */ -}}
{{- $srcsetOrig = delimit $srcsetOrig ", " -}}
{{- $srcsetWebp = delimit $srcsetWebp ", " -}}
{{- /* generate picture tag */ -}}
<picture>
  <source srcset="{{ $srcsetWebp }}" type="image/webp">
  <source srcset="{{ $srcsetOrig }}" type="{{ $src.MediaType }}">
  <img 
    src="{{ $src.RelPermalink }}" 
    alt="{{ .alt }}" 
    height="{{ $src.Height }}" 
    width="{{ $src.Width }}"
    class="{{ .class | default "img-fluid" }}"
    sizes="{{ .sizes | default "100vw" }}">
</picture>
