<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="/img/nyccrh-logo-header.jpg" alt="" class="img-fluid d-block mx-auto">
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">{{ with .Site.GetPage "about" }}
<a href="{{ .Permalink }}"> About </a>
{{ end }}</li>
        <li class="nav-item">{{ with .Site.GetPage "gallery" }}
          <a href="{{ .Permalink }}"> Gallery </a>
          {{ end }}</li>
          <li class="nav-item">{{ with .Site.GetPage "teaching-collections" }}
            <a href="{{ .Permalink }}"> Teaching Collections </a>
            {{ end }}</li>      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </header>
  </div>