{{ define "main" }}
<section class="hero">
    <div class="container col-l-2">
        <div class="row align-items-center justify-content-center py-5 g-5">
            <div class="col-lg-8 order-lg-first">
                <h1>{{ .Page.Params.title }}</h1>
                <p class="lead">{{ .Content }}</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container col-l-2">
        <div class="row">
            {{ range .Params.cards }}
            <div class="col-md-4">
                <div class="card mb-3">
                    {{ $image := resources.Get (printf "images/%s" .img)}}
                    {{ with $image }}
                    <img src="{{ ($image.Fill "400x300 top").Permalink }}" class="card-img-top img-fluid" alt="{{ .Params.alt }}" />
                    {{ end }}
                    <div class="card-body">
                        <h5 class="card-title">{{ .title }}</h5>
                        <p class="card-text">{{ .text }}</p>
                        {{ with .btn }}
                        {{ if and .url .text }}
                        <a href="{{ .url }}" class="btn btn-primary">{{ .text }}</a>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<section class="timeline">
    <div class="container" style="text-align: left!important">
        <div class="row">
        <div class="col-lg-8">
      {{ range .RegularPagesRecursive.ByDate  }} 
      <div class="timeline-item">
          <div class="timeline-img">
            <a href="{{.Permalink}}">
                {{ $timelineimage := resources.GetMatch (printf "/images/%s" .Params.imageFeatured)}}
                {{ with $timelineimage }}
                <img src="{{ ($timelineimage.Fill "160x120 top").RelPermalink }}"  alt="{{ .Params.alt }}" />
                </a>{{ end }}
          </div>
          <div class="timeline-content">
              <h2><a href="{{.Permalink}}"><span class="post-title">{{ .Params.Title}}</span></a></h2>
              <div class="date">{{ .Params.Date.Format "Jan 2, 2006"}}</div>
              <p>
                  {{.Params.Eventname}}<br>
                  {{.Params.Eventlocation}}

              </p> 
          </div>
      </div>  
      
      {{ end }}  
    </div> 
    </div>
  </div>
</section>
{{ end }}